
.homePage{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.section{
    flex-basis: 19%;
    border: 1px solid black;
    min-width: 150px;
}
header{
    min-height: 200px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://images.unsplash.com/photo-1476177725614-cdc50f15b345?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center; 
    height: 150px;
    background-attachment: fixed;
    /* //background-position: 100% 40%; */
    text-align: left;
    color: white;
    padding: 20px 5px 100px 5px;
}
h1{
    font-size: xx-large;
}
.section > h2{
    text-align: center;
}

.section {
    min-height: 350px;
/* david had fixed height */
    /* height: 450px; */
    overflow: scroll;
    overflow-x: hidden;
}
.messages__display {
    display: flex;
    flex-direction: column-reverse;
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
}

.messages {
    overflow: hidden
}

.friendStyle {
    font-style: italic;
    background-color: cornsilk;
}

.first__event {
    background-color: blanchedalmond;
    font-size: large;
    font-weight: bold;
}

/* JFF black/white/red styling below */

.homePage {
    height: 66vh;
    background-color: black;
    display: flex;
}

h2 {
    background-color: white;
    position: sticky;
    top: 1rem;
    height: 2em;
    vertical-align: middle;
}

.messages,
.events, 
.tasks,
.articles,
.friends {
    height: 100%;
}

.messages__display {
    /* color: white; */
    background-color: white;
    border: 1px solid red;
    padding: .25em;
}

#addFriendTarget,
.events__display,
.tasks__display,
.articles__display,
.friend__input,
.friends__display,
.task__form {
    color: white;
    background-color: black;
    border: 1px solid red;
    padding: .25em;
    height: auto;
}
label {
    color: white;
}

.friendStyle {
    font-style: italic;
    background-color: cornsilk;
    color: black;
    padding: .25em
}

.first__event {
    color: black
}

.container {
    font-family: 'Courier New', Courier, monospace;
}
section {
    background-color: black;
}

.weatherBox {
    color: white;
    background-color: black;
    border: 1px solid red;
    padding: .25em;
    height: auto;
    top: .1rem;
    position: fixed;
    margin-left: 32.5em;
    flex-wrap: wrap;
}

/* david's styling */
.article {
    border:1px solid black;
    margin: 2px
}
.myMessages{
    text-align: right;
    background-color: #1982FC;
    color:white;
}
.otherMessages{
    background-color: #EEE;
}
.displayButtons {
    display:none;
}
strong{
    color: black;
}